#about-section .button-container {
    text-align: center;
    margin-top: 20px;
}

#about-section .contact-button {
    background-color: transparent;
    font-size: 1.5rem;
    border: 2px solid var(--brown);
    color: var(--brown);
    padding: 7px 35px;
    margin: 20px 2px;
    font-size: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.2s;
}

#about-section .contact-button:hover {
    background-color: var(--brown);
    color: white;
}