#about-section .button-container {
    text-align: center;
    margin-top: 20px;
}

#about-section .contact-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px 2px;
    font-size: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.3s;
}

#about-section .contact-button:hover {
    background-color: white;
    color: black;
    outline: 2px solid #4CAF50;
}