body {
    font-family: Open Sans, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
}

.max-width-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 3.1rem;
    margin-bottom: 20px;
    font-weight: bolder;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: bolder;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: bolder;
}

h4 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bolder;
}
