:root {
    --yellow:#FCE190;
    --green:#C1E171;
    --brown:#D49559;
    --black:#232226;
}


body {
    font-family: Open Sans, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
}

.max-width-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 3.1rem;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}

h4 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bolder;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 1440px) {

    .max-width-container {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8em;
    }

    body {
        font-size: 1rem;
    }
    
}