:root {
    --image-witdh: 700px;
}

.before-after-photo {
    position: relative;
    width: var(--image-witdh);
    aspect-ratio: 16 / 9;
    overflow: hidden;
    user-select: none;
}

.before-after-photo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: var(--image-witdh);
    object-fit: cover;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}

.before-after-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    clip-path: polygon(
    0% 0%,
    100% 0%,
    80% 100%,
    0% 100%
    );
}


.before-after-photo-overlay .before-img {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--image-witdh);
    height:auto;
    object-fit: cover;
}

.before-after-photo-handle {
    position: absolute;
    top: 0;
    left: calc(var(--overlay-width) - 75px);
    transform: translateX(-50%);
    height: 100%;
    width: 150px;
    cursor: ew-resize;
    z-index: 2;
    
}

.before-after-photo .separator-line {
    position: absolute;
    width: 2px;
    background: white;
    pointer-events: none;
    transform-origin: top left;
    z-index: 10;
}

.before-after-photo-arrows {
    position: absolute;

    pointer-events: none;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.before-after-photo-arrows svg {
    width: 30px;
    height: 30px;
}