.before-after-photo {
    --image-width: 700px;
    position: relative;
    width: var(--image-width);
    aspect-ratio: 16 / 9;
    overflow: hidden;
    user-select: none;
}

.homepage.before-after-photo {
    --image-width: 100%;
}

.gradient-for-home-page {
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 3;
}

.before-after-photo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: var(--image-width);
    object-fit: cover;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}

.before-after-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    clip-path: polygon(
    0% 0%,
    100% 0%,
    80% 100%,
    0% 100%
    );
}


.before-after-photo-overlay .before-img {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--image-width);
    height:auto;
    object-fit: cover;
}

.before-after-photo-handle {
    position: absolute;
    top: 0;
    left: calc(var(--overlay-width) - 75px);
    transform: translateX(-40%);
    height: 100%;
    width: 160px;
    cursor: ew-resize;
    z-index: 4;    
}

.before-after-photo .separator-line {
    position: absolute;
    width: 2px;
    background: white;
    pointer-events: none;
    transform-origin: top left;
    z-index: 2;
}

.before-after-photo-arrows {
    position: absolute;

    pointer-events: none;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.before-after-photo-arrows svg {
    width: 30px;
    height: 30px;
}

.before-after-photo,
.before-after-photo-handle {
    touch-action: none;
}

@media (max-width: 1440px) {
    :root {
        --image-width: 500px;
    }
}

@media (max-width: 1024px) {
    :root {
        --image-width: 100%;
    }
}

@media (max-width: 768px) {
    .before-after-photo .separator-line {
        width: 5px;
    }
}