footer {
    background: linear-gradient(135deg, var(--green) 60%, var(--yellow));
    color: var(--black);
    padding: 20px;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-logo {
    width: 200px;
    margin-bottom: 10px;
}

footer h3 {
    text-align: left;
}

footer .address-hours {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

footer .social-media lord-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

footer .page-links a {
    display: block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 5px;
}

footer .page-links a:hover {
    text-decoration: underline;
}

footer .address-hours ul {
    list-style: none;
    padding: 0;
    margin-right: 20px;
}

footer .address-hours ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

footer .address-hours ul li .day-name {
    font-weight: bold;
    min-width: 100px;
}

@media (max-width:1024px) {
    footer > div {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    footer .address-hours {
        min-width:auto;
    }
}

@media (max-width:480px) {
    footer .address-hours {
        align-items: center;
        justify-content: center;
    }

    footer .address-hours p {
        text-align: center;
    }

    footer .address-hours ul li {
        display: flex;
        flex-direction: column;
    }
}