header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2e8b57;
    color: white;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

header.slide-up {
  transform: translateY(-100%);
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header .header-logo {
    height: 50px;
}
