    form {
        max-width: 800px;
        margin: auto;
    }

    .field {
        display: flex;
        flex-direction:column;
    }

    input {
        width: 100%;
        padding: 10px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-family: inherit;
        transition: all 0.2s;
        box-sizing: border-box;
    }

    .submit-container {
        display: flex;
        justify-content: center;
        flex-direction:row;
        margin: 20px 0 100px 0;
    }

    button[type="submit"] {
        display:block;
        padding: 10px 30px;
        background-color: transparent;
        color: var(--black);
        border: 3px solid var(--green);
        border-radius: 4px;
        font-family: Open Sans, sans-serif;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.3s;
    }

    button[type="submit"]:hover {
        background-color: var(--green);
    }
