#services-section .service.prioritized {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#services-section .service.prioritized.reverse {
    flex-direction: row-reverse;
}

#services-section .service img {
    width: 50%;
    height: 400px;
    object-fit: cover;
}

#services-section .service.prioritized lord-icon {
    max-width: 100px;
    max-height: 100px;
}


#services-section .service-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-section .other-service-h3 {
    margin-bottom: 5px;
}

#services-section .other-service.service-info ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #services-section .service.prioritized,
    #services-section .service.prioritized.reverse {
        flex-direction: column;
    }

    #services-section .service-info {
        min-height: 300px;
        width: 100%;
        justify-content: center;
    }

    #services-section .service img {
        width: 100%;
    }
}