{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/before-after-photo.css') }}">
{% endblock %}

{% block body %}

<h2> Galerie photos</h2>    

{% include 'partials/_before-after-photo.html.twig' %}
{% endblock %}
