{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}

<h2> Galerie photos</h2>    

{% include 'partials/_before-after-photo.html.twig' %}
{% endblock %}
