<section id="about-section">
    <div class="max-width-container">
        <h2>À propos</h2>
        {%if description is empty %}
            <p>Aucune description disponible pour le moment.</p>
        {% else %}
            {{ description|raw }}
        {% endif %}

        <div class="button-container">
            <a href="{{ path('app_contact') }}" class="contact-button" data-turbo="false">Demander un devis</a>
        </div>
    </div>
</section>